In [5]:
import pandas as pd
import os

os.chdir(r'C:\Users\USER\Documents\OPLearning\10_Academy\doc4\rossmann-store-sales')

files = []
for filename in os.listdir('.'):
    if filename.endswith('.csv'):
        df = pd.read_csv(filename)
        files.append((filename, df))
        print(f"Loaded {filename}")
        
df_combined = pd.concat([df for _, df in files], ignore_index=True)

print("\nCombined DataFrame Information:")
print(df_combined.info())
print("\nFile Names:")
for i, (file_name, _) in enumerate(files, 1):
    print(f"{i}. {file_name}")

print("\nMissing Values:")
for i, (_, df) in enumerate(files, 1):
    print(f"\nFile {i}:")
    print(df.isnull().sum())


print("\nColumn Names and Types:")
for i, (_, df) in enumerate(files, 1):
    print(f"\nFile {i} Columns and Types:")
    for col, dtype in zip(df.columns, df.dtypes):
        print(f"{col}: {dtype}")

for i, (_, df) in enumerate(files, 1):
    print(f"\nUnique values in File {i}:")
    for col in df.columns:
        print(f"  {col}:")
        print(df[col].value_counts())

Loaded sample_submission.csv
Loaded store.csv
Loaded test.csv

C:\Users\USER\AppData\Local\Temp\ipykernel_23280\1441089335.py:9: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

Loaded train.csv

Combined DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100500 entries, 0 to 1100499
Data columns (total 19 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Id                         82176 non-null    float64
 1   Sales                      1058297 non-null  float64
 2   Store                      1059412 non-null  float64
 3   StoreType                  1115 non-null     object
 4   Assortment                 1115 non-null     object
 5   CompetitionDistance        1112 non-null     float64
 6   CompetitionOpenSinceMonth  761 non-null      float64
 7   CompetitionOpenSinceYear   761 non-null      float64
 8   Promo2                     1115 non-null     float64
 9   Promo2SinceWeek            571 non-null      float64
 10  Promo2SinceYear            571 non-null      float64
 11  PromoInterval              571 non-null      object
 12  DayOfWeek                  1058297 non-null  float64
 13  Date                       1058297 non-null  object
 14  Open                       1058286 non-null  float64
 15  Promo                      1058297 non-null  float64
 16  StateHoliday               1058297 non-null  object
 17  SchoolHoliday              1058297 non-null  float64
 18  Customers                  1017209 non-null  float64
dtypes: float64(14), object(5)
memory usage: 159.5+ MB
None

File Names:
1. sample_submission.csv
2. store.csv
3. test.csv
4. train.csv

Missing Values:

File 1:
Id       0
Sales    0
dtype: int64

File 2:
Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

File 3:
Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

File 4:
Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

Column Names and Types:

File 1 Columns and Types:
Id: int64
Sales: int64

File 2 Columns and Types:
Store: int64
StoreType: object
Assortment: object
CompetitionDistance: float64
CompetitionOpenSinceMonth: float64
CompetitionOpenSinceYear: float64
Promo2: int64
Promo2SinceWeek: float64
Promo2SinceYear: float64
PromoInterval: object

File 3 Columns and Types:
Id: int64
Store: int64
DayOfWeek: int64
Date: object
Open: float64
Promo: int64
StateHoliday: object
SchoolHoliday: int64

File 4 Columns and Types:
Store: int64
DayOfWeek: int64
Date: object
Sales: int64
Customers: int64
Open: int64
Promo: int64
StateHoliday: object
SchoolHoliday: int64

Unique values in File 1:
  Id:
Id
41049    1
41050    1
41051    1
41052    1
41053    1
        ..
4        1
5        1
6        1
7        1
8        1
Name: count, Length: 41088, dtype: int64
  Sales:
Sales
0    41088
Name: count, dtype: int64

Unique values in File 2:
  Store:
Store
1115    1
1       1
2       1
3       1
4       1
       ..
31      1
32      1
33      1
34      1
35      1
Name: count, Length: 1115, dtype: int64
  StoreType:
StoreType
a    602
d    348
c    148
b     17
Name: count, dtype: int64
  Assortment:
Assortment
a    593
c    513
b      9
Name: count, dtype: int64
  CompetitionDistance:
CompetitionDistance
250.0      12
1200.0      9
50.0        8
350.0       8
190.0       8
           ..
5330.0      1
1400.0      1
3490.0      1
1900.0      1
18670.0     1
Name: count, Length: 654, dtype: int64
  CompetitionOpenSinceMonth:
CompetitionOpenSinceMonth
9.0     125
4.0      94
11.0     92
3.0      70
7.0      67
12.0     64
10.0     61
6.0      50
5.0      44
2.0      41
8.0      39
1.0      14
Name: count, dtype: int64
  CompetitionOpenSinceYear:
CompetitionOpenSinceYear
2013.0    83
2012.0    82
2014.0    70
2005.0    62
2010.0    55
2009.0    54
2008.0    54
2011.0    54
2007.0    48
2006.0    47
2015.0    38
2002.0    27
2004.0    22
2003.0    19
2001.0    16
2000.0    10
1999.0     8
1990.0     5
1995.0     2
1994.0     2
1961.0     1
1900.0     1
1998.0     1
Name: count, dtype: int64
  Promo2:
Promo2
1    571
0    544
Name: count, dtype: int64
  Promo2SinceWeek:
Promo2SinceWeek
14.0    81
40.0    77
31.0    44
10.0    42
5.0     39
37.0    35
1.0     35
45.0    34
13.0    34
22.0    33
18.0    29
35.0    25
9.0     14
27.0    11
36.0    10
48.0     9
39.0     6
23.0     5
44.0     3
26.0     1
6.0      1
50.0     1
49.0     1
28.0     1
Name: count, dtype: int64
  Promo2SinceYear:
Promo2SinceYear
2011.0    128
2013.0    120
2014.0     95
2012.0     81
2009.0     73
2010.0     64
2015.0     10
Name: count, dtype: int64
  PromoInterval:
PromoInterval
Jan,Apr,Jul,Oct     335
Feb,May,Aug,Nov     130
Mar,Jun,Sept,Dec    106
Name: count, dtype: int64

Unique values in File 3:
  Id:
Id
41049    1
41050    1
41051    1
41052    1
41053    1
        ..
4        1
5        1
6        1
7        1
8        1
Name: count, Length: 41088, dtype: int64
  Store:
Store
1115    48
1       48
3       48
7       48
8       48
        ..
38      48
39      48
40      48
41      48
42      48
Name: count, Length: 856, dtype: int64
  DayOfWeek:
DayOfWeek
4    5992
3    5992
2    5992
1    5992
7    5992
6    5992
5    5136
Name: count, dtype: int64
  Date:
Date
2015-09-17    856
2015-09-16    856
2015-09-15    856
2015-09-14    856
2015-09-13    856
2015-09-12    856
2015-09-11    856
2015-09-10    856
2015-09-09    856
2015-09-08    856
2015-09-07    856
2015-09-06    856
2015-09-05    856
2015-09-04    856
2015-09-03    856
2015-09-02    856
2015-09-01    856
2015-08-31    856
2015-08-30    856
2015-08-29    856
2015-08-28    856
2015-08-27    856
2015-08-26    856
2015-08-25    856
2015-08-24    856
2015-08-23    856
2015-08-22    856
2015-08-21    856
2015-08-20    856
2015-08-19    856
2015-08-18    856
2015-08-17    856
2015-08-16    856
2015-08-15    856
2015-08-14    856
2015-08-13    856
2015-08-12    856
2015-08-11    856
2015-08-10    856
2015-08-09    856
2015-08-08    856
2015-08-07    856
2015-08-06    856
2015-08-05    856
2015-08-04    856
2015-08-03    856
2015-08-02    856
2015-08-01    856
Name: count, dtype: int64
  Open:
Open
1.0    35093
0.0     5984
Name: count, dtype: int64
  Promo:
Promo
0    24824
1    16264
Name: count, dtype: int64
  StateHoliday:
StateHoliday
0    40908
a      180
Name: count, dtype: int64
  SchoolHoliday:
SchoolHoliday
0    22866
1    18222
Name: count, dtype: int64

Unique values in File 4:
  Store:
Store
1115    942
1       942
2       942
3       942
4       942
       ...
1067    758
1080    758
22      758
20      758
13      758
Name: count, Length: 1115, dtype: int64
  DayOfWeek:
DayOfWeek
5    145845
4    145845
3    145665
2    145664
1    144730
7    144730
6    144730
Name: count, dtype: int64
  Date:
Date
2013-01-02    1115
2015-07-31    1115
2015-07-30    1115
2015-07-29    1115
2015-07-28    1115
              ...
2014-12-12     935
2014-12-10     935
2014-12-09     935
2014-12-08     935
2014-12-07     935
Name: count, Length: 942, dtype: int64
  Sales:
Sales
0        172871
5674        215
5558        197
5483        196
6214        195
          ...
982           1
1173          1
1090          1
1338          1
18841         1
Name: count, Length: 21734, dtype: int64
  Customers:
Customers
0       172869
560       2414
576       2363
603       2337
571       2330
         ...
5106         1
4245         1
4309         1
3880         1
3791         1
Name: count, Length: 4086, dtype: int64
  Open:
Open
1    844392
0    172817
Name: count, dtype: int64
  Promo:
Promo
0    629129
1    388080
Name: count, dtype: int64
  StateHoliday:
StateHoliday
0    855087
0    131072
a     20260
b      6690
c      4100
Name: count, dtype: int64
  SchoolHoliday:
SchoolHoliday
0    835488
1    181721
Name: count, dtype: int64